alembic==1.8.1
attrs==22.1.0
black==22.10.0
loguru==0.6.0
Pillow==9.3.0
psycopg2-binary==2.9.5
pydantic==1.10.2
pytest==7.2.0
python-dotenv==0.21.0
python-telegram-bot==13.14
requests==2.28.1
SQLAlchemy==1.4.44
tenacity==8.1.0
